<!DOCTYPE html>

<html lang="en">

  <head>
    <meta charset="utf-8" />

    <title>My Resume</title>
    <meta name="description" content="Web Resume" />
    <meta name="author" content="Jaysinh Gohil" />
    <link rel="apple-touch-icon" sizes="180x180" href="{{config.BASE_URL}}/static/images/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{config.BASE_URL}}/static/images/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{config.BASE_URL}}/static/images/icons/favicon-16x16.png">
    <link rel="manifest" href="{{config.BASE_URL}}/static/images/icons/site.webmanifest" crossorigin="use-credentials">
    <link href='https://fonts.googleapis.com/css?family=Roboto Condensed' rel='stylesheet'>
    <link rel="stylesheet" type="text/css" href="{{config.BASE_URL}}/static/css/{{config.CSS_NAME}}">
    <script src="{{config.BASE_URL}}/jquery/jquery.min.js"></script>
  </head>

  <body>
    {{{body}}}
    <script id="landingScript">
      let config = {{{ json config }}};
    </script>
    <script src="{{config.BASE_URL}}/static/js/{{config.JS_NAME}}"></script>
  </body>

</html>